.carousel {
  align-items: center;
  display: flex;
  margin: 2rem 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.carousel__images {
  display: flex;
  transform: translateX(0);
  transition: transform 0.4s;
  justify-items: center;
}
.carousel__images img {
  border-radius: 5px;
}
.carousel__button {
  background: teal;
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  height: 3rem;
  opacity: 0.25;
  position: absolute;
  transition: opacity 0.25s;
  width: 3rem;
  z-index: 1;
}
.carousel__button.previous {
  left: 5px;
}
.carousel__button.next {
  right: 5px;
  margin-right:12px;
}
.carousel__button:hover {
  opacity: 0.5;
}
